---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token a09aab7d31034f33705a0d08d512c6a50f84fd49
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1544047794'
      Etag:
      - W/"0021f4113b2aaa3a7b6dc2bb8d5d612a"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":140098449,"node_id":"MDEwOlJlcG9zaXRvcnkxNDAwOTg0NDk=","name":"night_writer","full_name":"dmeskis/night_writer","private":false,"owner":{"login":"dmeskis","id":35268891,"node_id":"MDQ6VXNlcjM1MjY4ODkx","avatar_url":"https://avatars3.githubusercontent.com/u/35268891?v=4","gravatar_id":"","url":"https://api.github.com/users/dmeskis","html_url":"https://github.com/dmeskis","followers_url":"https://api.github.com/users/dmeskis/followers","following_url":"https://api.github.com/users/dmeskis/following{/other_user}","gists_url":"https://api.github.com/users/dmeskis/gists{/gist_id}","starred_url":"https://api.github.com/users/dmeskis/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dmeskis/subscriptions","organizations_url":"https://api.github.com/users/dmeskis/orgs","repos_url":"https://api.github.com/users/dmeskis/repos","events_url":"https://api.github.com/users/dmeskis/events{/privacy}","received_events_url":"https://api.github.com/users/dmeskis/received_events","type":"User","site_admin":false},"html_url":"https://github.com/dmeskis/night_writer","description":null,"fork":false,"url":"https://api.github.com/repos/dmeskis/night_writer","forks_url":"https://api.github.com/repos/dmeskis/night_writer/forks","keys_url":"https://api.github.com/repos/dmeskis/night_writer/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dmeskis/night_writer/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dmeskis/night_writer/teams","hooks_url":"https://api.github.com/repos/dmeskis/night_writer/hooks","issue_events_url":"https://api.github.com/repos/dmeskis/night_writer/issues/events{/number}","events_url":"https://api.github.com/repos/dmeskis/night_writer/events","assignees_url":"https://api.github.com/repos/dmeskis/night_writer/assignees{/user}","branches_url":"https://api.github.com/repos/dmeskis/night_writer/branches{/branch}","tags_url":"https://api.github.com/repos/dmeskis/night_writer/tags","blobs_url":"https://api.github.com/repos/dmeskis/night_writer/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dmeskis/night_writer/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dmeskis/night_writer/git/refs{/sha}","trees_url":"https://api.github.com/repos/dmeskis/night_writer/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dmeskis/night_writer/statuses/{sha}","languages_url":"https://api.github.com/repos/dmeskis/night_writer/languages","stargazers_url":"https://api.github.com/repos/dmeskis/night_writer/stargazers","contributors_url":"https://api.github.com/repos/dmeskis/night_writer/contributors","subscribers_url":"https://api.github.com/repos/dmeskis/night_writer/subscribers","subscription_url":"https://api.github.com/repos/dmeskis/night_writer/subscription","commits_url":"https://api.github.com/repos/dmeskis/night_writer/commits{/sha}","git_commits_url":"https://api.github.com/repos/dmeskis/night_writer/git/commits{/sha}","comments_url":"https://api.github.com/repos/dmeskis/night_writer/comments{/number}","issue_comment_url":"https://api.github.com/repos/dmeskis/night_writer/issues/comments{/number}","contents_url":"https://api.github.com/repos/dmeskis/night_writer/contents/{+path}","compare_url":"https://api.github.com/repos/dmeskis/night_writer/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dmeskis/night_writer/merges","archive_url":"https://api.github.com/repos/dmeskis/night_writer/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dmeskis/night_writer/downloads","issues_url":"https://api.github.com/repos/dmeskis/night_writer/issues{/number}","pulls_url":"https://api.github.com/repos/dmeskis/night_writer/pulls{/number}","milestones_url":"https://api.github.com/repos/dmeskis/night_writer/milestones{/number}","notifications_url":"https://api.github.com/repos/dmeskis/night_writer/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dmeskis/night_writer/labels{/name}","releases_url":"https://api.github.com/repos/dmeskis/night_writer/releases{/id}","deployments_url":"https://api.github.com/repos/dmeskis/night_writer/deployments","created_at":"2018-07-07T16:08:21Z","updated_at":"2018-07-12T00:22:43Z","pushed_at":"2018-07-12T00:22:41Z","git_url":"git://github.com/dmeskis/night_writer.git","ssh_url":"git@github.com:dmeskis/night_writer.git","clone_url":"https://github.com/dmeskis/night_writer.git","svn_url":"https://github.com/dmeskis/night_writer","homepage":null,"size":39,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":154235706,"node_id":"MDEwOlJlcG9zaXRvcnkxNTQyMzU3MDY=","name":"little_shop","full_name":"Isaac-Falkenstine/little_shop","private":false,"owner":{"login":"Isaac-Falkenstine","id":41242161,"node_id":"MDQ6VXNlcjQxMjQyMTYx","avatar_url":"https://avatars2.githubusercontent.com/u/41242161?v=4","gravatar_id":"","url":"https://api.github.com/users/Isaac-Falkenstine","html_url":"https://github.com/Isaac-Falkenstine","followers_url":"https://api.github.com/users/Isaac-Falkenstine/followers","[...]
[...]
